<div class="addMember">
  <div class="container">
    <div class=" m-5">
      <div class="row">
        <div class="col-md-12">   
          <div class="card mb-4">
            <div class="card-header">
              <h4 class="d-flex align-content-center">PROJECT MANAGEMENT SYSTEM</h4>
              <h4>Project Details</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Project Name:</strong> {{ project.name }}</p>
                  <p><strong>Intro:</strong> {{ project.intro }}</p>
                  <p><strong>Status:</strong> {{ project.status }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Start Date:</strong> {{ project.startDateTime | date:'dd-MM-yyyy'}}</p>
                  <p><strong>End Date:</strong> {{ project.endDateTime | date:'dd-MM-yyyy'}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4>Assign Members to Project</h4>
            </div>
            <div class="card-body">
              <form #memberForm="ngForm" (ngSubmit)="assign()">
                <div class="form-group mb-3">
                  <label for="selectedMember">Select Member:</label>
                  <ng-multiselect-dropdown
                    [settings]="dropdownSettings"
                    [data]="dropDownData"
                    [(ngModel)]="project.members.id"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onDeSelect($event)">
                  </ng-multiselect-dropdown>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" [disabled]="isButtonDisable" (click)="assign()">
                    Assign Members
                  </button>
                </div>
                <div class="d-flex justify-content-center">
                  <span *ngIf="isButtonDisable" text="text-danger">5 Members Already Added</span>
                </div>
              </form>
            </div>
          </div> 
          <div class="card mt-4">
            <div class="card-header">
              <h4>Assigned Members</h4>
            </div>
            <div class="card-body">
              <ul class="list-group">
                  <li *ngFor="let member of project.members" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ member.name }} ({{ member.email }})
                    <!-- <button class="btn btn-danger btn-sm" (click)="removeMember(member.id)">Remove</button> -->
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>