/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container {
    background-color: white;
    height: 80vw; /* Adjust as needed */
    width: 70vh;
    /* overflow-y: auto; */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



